<div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
    <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
        <h1><a>Editar equipos</a></h1>
    </div>
    <div class="formbg-outer">
        <div class="formbg">
            <div class="formbg-inner padding-horizontal--48">
                <form action="/teams/edit-team/{{team.id}}" method="POST">
                    <div class="field padding-bottom--24">
                        <input type="text" value="{{team.name}}" name="name" class="form-control"
                            placeholder="Nombre del equipo">
                    </div>
                    <div class="field padding-bottom--24">
                        <input type="submit" name="submit" value="Guardar">
                    </div>
                </form>
                <link rel="stylesheet" href="/css/forms.css">
            </div>
        </div>
    </div>
</div>