<link rel="stylesheet" href="/css/dashboard.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">

<body>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">Introducción</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="/img/social-soccer.png" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3>Rol Vocal</h3>
                    <p>Una de las partes también importantes es la parte del Vocal, lo cual es el que se encarga
                        de realizar todo tipo de anotaciones, tanto de goles,
                        tarjetas, como de jugadores.
                        Lo que esto ayudaría facilitar el trabajo lo cual realiza el vocal en las ligas barriales.</p>
                </div>
            </div>
        </section>
        <section class="entrevista">
            <div class="contenedor">
                <h2 class="titulo">Entrevista</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="/img/entrevista.jpeg" alt="">
                        <div class="hover-galeria">
                            <p>Nuestra Entrevista</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/img/entrevista1.jpeg" alt="">
                        <div class="hover-galeria">
                            <p>Nuestra Entrevista</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/img/entrevista2.jpeg" alt="">
                        <div class="hover-galeria">
                            <p>Nuestra Entrevista</p>
                        </div>
                    </div>
                     <div class="imagen-port">
                        <img src="/img/entrevista3.jpeg" alt="">
                        <div class="hover-galeria">
                            <p>Nuestra Entrevista</p>
                        </div>
                    </div>
                     <div class="imagen-port">
                        <img src="/img/entrevista4.jpeg" alt="">
                        <div class="hover-galeria">
                            <p>Nuestra Entrevista</p>
                        </div>
                    </div>
                </div>
            </div>
    </main>
</body>