<div class="formbg-outer">
    <div class="formbg">
        <div class="formbg-inner padding-horizontal--48">
            <form action="/observations/post-observation" method="POST">
                <div class="field padding-bottom--24">
                    <input type="text" class="form-control" name="observation_team1" placeholder="Observacion equipo 1"
                        autofocus>
                </div>
                <div class="field padding-bottom--24">
                    <input type="text" name="observation_team2" class="form-control" placeholder="Observacion equipo 2">
                </div>
                <div class="field padding-bottom--24">
                    <input type="submit" name="submit" value="Guardar">
                </div>
            </form>
            <link rel="stylesheet" href="/css/forms.css">
        </div>
    </div>
</div>