<div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
    <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
        <h1><a>Editar observaciones</a></h1>
    </div>
    <div class="formbg-outer">
        <div class="formbg">
            <div class="formbg-inner padding-horizontal--48">
                <form action="/observations/edit-observation/{{observation.id}}" method="POST">
                    <div class="field padding-bottom--24">
                        <input type="text" value="{{observation.observation_team1}}" name="observation_team1"
                            class="form-control" placeholder="Observación equipo 1">
                    </div>
                    <div class="field padding-bottom--24">
                        <input type="text" value="{{observation.observation_team2}}" name="observation_team2"
                            class="form-control" placeholder="Observación equipo 2">
                    </div>
                    <div class="field padding-bottom--24">
                        <input type="submit" name="submit" value="Guardar">
                    </div>
                </form>
                <link rel="stylesheet" href="/css/forms.css">
            </div>
        </div>
    </div>
</div>