@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

* {
    margin: 5;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, sans-serif;
}

body .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0% 0%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 15%;
    margin-top: 2%;
    background-color:#ccc;
    border-radius: 10%;
}

body .container .card .box .content h3 {
    font-size: 1.8rem;
    color: brown;
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 0%;
    display: flex;
	align-items: center;
	justify-content: center;
}

body .container .card .box .content p {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.9);
    z-index: 1;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

body .container .card .box .content a {
    position: relative;
    display: inline-block;
    padding: 5% 10%;
    background: rgb(253, 253, 253);
    border-radius: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-top: 5%;
    transition: 0.5s;
    background-color:#ccc;
}

body .container .card .box .content a:hover {
    background-color:#ccc;
    color: #000;
}