<div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
    <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
        <h1><a>Editar goles</a></h1>
    </div>
    <div class="formbg-outer">
        <div class="formbg">
            <div class="formbg-inner padding-horizontal--48">
                <form action="/goals/edit-goal/{{goal.id}}" method="POST">
                    <div class="field padding-bottom--24">
                        <input type="text" value="{{goal.goal}}" class="form-control" name="goal"
                            placeholder="Número de gol" autofocus>
                    </div>
                    <div class="field padding-bottom--24">
                        <input type="text" value="{{goal.player_number}}" name="player_number" class="form-control"
                            placeholder="Número del jugador">
                    </div>
                    <div class="field padding-bottom--24">
                        <input type="text" value="{{goal.team_name}}" name="team_name" class="form-control"
                            placeholder="Nombre del equipo">
                    </div>
                    <div class="field padding-bottom--24">
                        <input type="submit" name="submit" value="Guardar">
                    </div>
                </form>
                <link rel="stylesheet" href="/css/forms.css">
            </div>
        </div>
    </div>
</div>