{{!-- <div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/goals/edit/{{goal.id}}" method="POST">
                        <div class="form-group">
                            <input type="text" value="{{goal.player_number}}" class="form-control" name="player_number" placeholder="Número del jugador" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" value="{{goal.team_name}}" name="team_name" class="form-control" placeholder="Nombre del equipo">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> --}}