<div class="formbg-outer">
    <div class="formbg">
        <div class="formbg-inner padding-horizontal--48">
            <form action="/stadiums/post-stadium" method="POST">
                <div class="field padding-bottom--24">
                    <input type="text" class="form-control" name="name" placeholder="Nombre del estadio" autofocus>
                </div>
                <div class="field padding-bottom--24">
                    <input type="submit" name="submit" value="Guardar">
                </div>
            </form>
            <link rel="stylesheet" href="/css/forms.css">
        </div>
    </div>
</div>