<div class="formbg-outer">
    <div class="formbg">
        <div class="formbg-inner padding-horizontal--48">
            <form action="/matches/post-match" method="POST">
                <div class="field padding-bottom--24">
                    <input type="text" class="form-control" name="stadium" placeholder="Nombre del estadio">
                </div>
                <div class="field padding-bottom--24">
                    <input type="date" class="form-control" name="date_start" placeholder="Fecha en la que inicia"
                        autofocus>
                </div>
                <div class="field padding-bottom--24">
                    <input type="time" name="time_start" class="form-control" placeholder="Hora inicio de partido">
                </div>
                <div class="field padding-bottom--24">
                    <input type="submit" name="submit" value="Guardar">
                </div>
            </form>
            <link rel="stylesheet" href="/css/forms.css">
        </div>
    </div>
</div>