<div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
    <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
        <h1><a>Editar partidos</a></h1>
    </div>
    <div class="formbg-outer">
        <div class="formbg">
            <div class="formbg-inner padding-horizontal--48">
                <form action="/matches/edit-match/{{match.id}}" method="POST">
                    <div class="field padding-bottom--24">
                        <input type="text" value="{{match.stadium}}" class="form-control" name="stadium"
                            placeholder="Nombre del estadio" autofocus>
                    </div>
                    <div class="field padding-bottom--24">
                        <input type="text" value="{{match.date_start}}" name="date_start" class="form-control"
                            placeholder="Fecha del partido">
                    </div>
                    <div class="field padding-bottom--24">
                        <input type="text" value="{{match.time_start}}" name="time_start" class="form-control"
                            placeholder="Hora inicio del partido">
                    </div>
                    <div class="field padding-bottom--24">
                        <input type="submit" name="submit" value="Guardar">
                    </div>
                </form>
                <link rel="stylesheet" href="/css/forms.css">
            </div>
        </div>
    </div>
</div>