<div class="formbg-outer">
    <div class="formbg">
        <div class="formbg-inner padding-horizontal--48">
            <form action="/expulsions/post-expulsion" method="POST">
                <div class="field padding-bottom--24">
                    <input type="text" class="form-control" name="player_name" placeholder="Nombre del jugador"
                        autofocus>
                </div>
                <div class="field padding-bottom--24">
                    <input type="text" name="player_number" class="form-control" placeholder="Número del jugador">
                </div>
                <div class="field padding-bottom--24">
                    <div class="field padding-bottom--24">
                        <input type="submit" name="submit" value="Guardar">
                    </div>
                </div>
            </form>
            <link rel="stylesheet" href="/css/forms.css">
        </div>
    </div>
</div>